/* Estilos para imágenes en tablas */
.list-table .list-table-data .data.image .image {
  width: 90%;
  height: auto;
  border: #EBEBEB 1px solid;
  border-radius: 10px 3px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Añade una transición suave para transform y box-shadow */
}

.list-table .list-table-data .data.image .image:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Sombra blanca con desenfoque */
}

/* Estilos para imágenes de portada */
.cover-block .image-container img {
  width: 1024px;
  height: 300px;
  border-radius: 10px;
  border: #555 1px solid;
}

/* Estilos para el título de la cabecera */
.header .header-title {
  position: fixed;
  top: 5px;
  left: 0.3%;
  background-image: url("https://img.icons8.com/?size=512&id=2HJNoKljIdlg&format=png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
  width: 60px;
  height: 60px;
  background-color: #6794fb;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 1000;
  border-radius: 50px;
  border: 1px solid #6794FB;
}

/* Estilos para el botón del menú en la cabecera */
.header .header-menu .btn-menu {
  display: none;
  text-align: right;
  font-size: 16px;
}

/* Estilos para elementos de título en listas */
.list-table .list-table-data .data .title .rewatching, 
.list-table .list-table-data .data.title .rereading, 
.list-table .list-table-data .data.title .content-status {
  color: #919191;
  font-size: 0.9em;
  background: #1f2f19;
  border-radius: 30%;
  padding: 0px 2.5px;
  display: inline-block;
}

/* Estilos para el título de la unidad de lista */
.list-unit .list-status-title {
  position: relative;
  display: table;
  background-color: #080A0F;
  width: 99.9%;
  height: 38px;
  border-radius: 15px 15px 0 0;
  border: .09px solid #555;
}

/* Estilos para el texto del título de la unidad de lista */
.list-unit .list-status-title .text {
  display: table-cell;
  width: 1024px;
  height: 38px;
  font-size: 2.0em;
  color: #008BAB;
  font-weight: bold;
  font-family: 'Helvetica neue', Helvetica, "lucida grande", tahoma, verdana, arial, sans-serif;
  text-align: center;
  vertical-align: middle;
}

/* Estilos para la tabla de listas */
.list-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border: #555 1px solid;
}

/* Estilos para las estadísticas de la unidad de lista */
.list-unit .list-stats {
  display: none;
  background-color: #191b20;
  width: 1022.5px;
  height: 30px;
  line-height: 30px;
  color: #978eff;
  text-align: center;
  border: 1px solid #555;
}

/* Estilos para las filas de la tabla */
.list-table > tbody:nth-of-type(2n+1) {
  background-color: #000;
  color: #7a7a7a;
}

/* Estilos para el contenedor de listas */
.list-container {
  position: relative;
  background-color: #000;
  border: #000 1px solid;
  width: 100%;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

/* Estilos para los datos de la tabla */
.list-table .list-table-data .data {
  color: #7a7a7a;
  display: table-cell;
  padding: 4px 0;
  padding-left: 0px;
  text-align: center;
  vertical-align: middle;
  border-bottom: #555 1px solid;
}

/* Estilos para el contenedor del menú de estado */
.status-menu-container {
  width: 100%;
  max-width: 100%;
  height: 79px;
  background: linear-gradient(135deg, #1c1c1c, #2b2b2b);
  border-bottom: 2px solid #e0e0e0;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 12px 12px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 12.5px;
  color: #333;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}

/* Estilos para el título de la cabecera de la tabla */
.list-table .list-table-header .header-title {
  background: #000 url("/img/pc/ownlist/bar-table-header.png") no-repeat right 7px / 1px 22px;
  display: table-cell;
  border-bottom: #3A3434 1px solid;
  height: 36px;
  text-align: center;
  vertical-align: middle;
}

/* Estilos para los enlaces en la tabla de la cabecera */
.list-table .list-table-header .header-title .link.sort {
  color: #979797;
}

.list-table .list-table-header .header-title .link {
  font-size: 11px;
  color: #979797;
  text-decoration: none;
}

/* Estilos para enlaces */
a {
  color: #026dac;
  text-decoration: none;
}

/* Estilos para el menú flotante */
.list-menu-float {
  position: fixed;
  display: block;
  width: 50px;
  z-index: 2;
  border-radius: 6px;
  top: none; /* Ajustar verticalmente si es necesario */
  right: 0; /* Alinear a la derecha */
  border: 1.5px solid #1d4a7b;
}

.list-menu-float .icon-menu {
  background-color: #000;
  border-radius: 50px;
}

.list-menu-float .icon-menu:not(.profile):hover {
  background-color: #49623a96;
  width: 145px;
  border-radius: 5px 0 0 5px;
  transform: translateX(-95px);
}

.list-menu-float .icon-menu.setting:hover .text .link-list-setting, 
.list-menu-float .icon-menu.setting:hover .text .link-style-setting {
  position: absolute;
  background-color: #49623a96;
  display: block;
  width: 110px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: #f5f5f5;
  opacity: 1;
  border-radius: 5px;
}

.list-menu-float .icon-menu .text {
  color: #7a7a7a;
}

.list-menu-float .icon-menu svg.icon {
  position: absolute;
  fill: #32845e;
}

/* Estilos para el contenedor de opciones avanzadas */
#advanced-options {
  background-color: #000;
  border: #0058FF 1px solid;
  color: #323232;
}

#advanced-options {
  color: #555;
}

#advanced-options .filter-widget select {
  margin-right: 8px;
  font-size: 12px;
  color: black;
}

/* Estilos para el bloque de pie de página */
#footer-block {
  padding: 15px 0;
  background-color: #0C1322;
  color: #FFFFFF;
  font-family: Avenir, "lucida grande", tahoma, verdana, arial, sans-serif;
}

/* Estilos adicionales para menú de estado fijo */
.status-menu-container.fixed {
  position: fixed;
  display: block;
  top: 0;
}

.status-menu-container.fixed + div .list-block {
  margin-top: 10px;
}
